/* CSS Document */

.picture{
	width: auto;
	text-align: center;
}

.m-picture{
	display: none;
}

.setting{
	color: white;
	text-align: center;
}

.patch-note-01{
	display: block;
	height: 500px;
	overflow: scroll;
}

.patch-note-01::-webkit-scrollbar{
	display: none;
}

@media (max-width:1140px){
	.picture{
		display: none;
	}
	.m-picture{
		display: block;
		text-align: center;
	}
}

@media (max-width:720px){
	.patch-note-01{
		width: auto;
		padding: 25px;
	}
}


