* {
    margin: 0;
    padding: 0;
}

#body {
    position: absolute;
    width: 100%;
    height: 100%;
}

#vert-hldr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#top-plyr{
    flex: 30%;
}
#list-plylst{
    flex: 70%;
}

#top-plyr-flxr{
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
}

#plyr{
    background-color: grey;
    flex: 40%;
}
#dscrptn{
    background-color: brown;
    flex: 60%;
}