@charset "utf-8";
/* CSS Document */
.main{
	width: 100%;
	height: 100%;
}
.cover-pic{
	height: 400px;
	width: 400px;
	margin-bottom: 25px;
	background-color: blue;
}
.player-detail p{
	color: black;
	margin-left: 15px;
}
.player-detail label{
	color: black;
	margin-left: 15px;
}
button{
	font-size: 25px;
	padding: 5px 15px;
}

#loop[value="1"]{
	background-color: grey;
}

.container{
	width: 400px;
	height: 100%;
	margin: auto;
	padding: 50px;
	background-color: aquamarine;
	border-radius: 25px;
}

#vol-slider{
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 2.5px;
	background: grey;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

#dur-slider{
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 2.5px;
	background: grey;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

#vol-slider:hover{
	opacity: 1;
}

#dur-slider:hover{
	opacity: 1;
}

#vol-slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: black;
	cursor: pointer;
}

#dur-slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: black;
	cursor: pointer;
}