@charset "utf-8";
/* CSS Document */
.cover-pic {
  height: 400px;
  width: 400px;
  margin-bottom: 25px;
  border-radius: 12.5px;
  background-color: blue;
}
.msc-cvr{
  height: 400px;
  width: 400px;
  border-radius: 12.5px;
}
.player-detail p {
  color: black;
  margin-left: 15px;
}
.player-detail label {
  color: black;
  margin-left: 15px;
}
button {
  font-size: 25px;
  width: 100px;
  padding: 5px 15px;
}
#play[value="0"] {
  display: none;
}
#pause[value="0"] {
  display: none;
}
#loop[value="1"] {
  background-color: grey;
}
#mute[value="1"] {
  background-color: grey;
}
.container {
  width: 400px;
  height: 100%;
  margin: auto;
  padding: 25px;
  background-color: aquamarine;
  border-radius: 25px;
}
.list-container {
	float: right;
  width: 400px;
  height: 100%;
  margin: auto;
  padding: 25px;
  background-color: aquamarine;
  border-radius: 25px;
}
#vol-sldr,
#dur-sldr {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#vol-sldr:hover {
  height: 6px;
  opacity: 1;
}
#dur-sldr:hover {
  height: 6px;
  opacity: 1;
}
#vol-sldr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
#dur-sldr::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container {
    padding: 25px;
  }
}
