#content-first-row {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#videos {
  display: inline-block;
  margin-right: 30px;
  text-align: left;
}
#musics {
  display: inline-block;
  margin-left: 30px;
  text-align: left;
}
#the-experiment {
  text-align: left;
  margin-bottom: 50px;
}
#link-to-about {
  color: black;
  padding: 5px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
}
#link-to-about:hover {
  color: white;
  background-color: black;
  transition-duration: 0.1s;
}
.light #link-to-about {
  border: 1px solid black;
}
#news {
  text-align: left;
  margin-bottom: 50px;
}
.sub-nav {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 5px 0px;
  height: 24px;
  margin-bottom: 15px;
  border: 3px solid darkred;
  border-radius: 25px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 1, 0), black);
  transition-duration: 0.1s;
}
.light .sub-nav {
  color: black;
  background-color: grey;
  background-image: linear-gradient(rgba(0, 0, 1, 0), grey);
}
.sub-nav:hover {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: darkred;
}
.light .sub-nav:hover {
  background-color: white;
}
