/*CSS Document*/
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
}
a:hover {
  background-color: rgb(77, 77, 77);
}
.light a {
  background-color: grey;
}
.light a:hover {
  background-color: #555;
}
.top-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: black;
  border-bottom: 5px solid rgb(160, 0, 0);
  border-radius: 0px 0px 50px 0px;
}
.light .top-bar {
  background-color: grey;
}
.cover-for-nav-open {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 50%;
}
.menu-header {
  height: 50px;
  margin-bottom: 5px;
  border-bottom: 5px solid rgb(160, 0, 0);
}
.main-icon {
  background: url(../img/arknightsLogo.png) no-repeat 6px center;
}
.top-bar-item {
  float: left;
  color: white;
  height: 50px;
  background-color: black;
  cursor: pointer;
  margin: 0px;
}
.light .top-bar-item {
  color: white;
  background-color: grey;
}
.top-bar div {
  display: inline-block;
  height: 50px;
}
nav {
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: black;
  transition-duration: 0.2s;
}
.light nav {
  background-color: grey;
}
.top-bar :nth-child(1) {
  font-size: 24px;
  line-height: 50px;
  padding: 0px 20px;
}
.menu-header :nth-child(1) {
  font-size: 24px;
  line-height: 50px;
  padding: 0px 20px;
}
nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  background-color: black;
}
.light ul ul {
  background-color: grey;
}
ul ul {
  display: none;
  border-left: 5px solid rgb(160, 0, 0);
}
