*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    height: 100vh;
}
.direct{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: grey;
    border-bottom: 1px solid black;
}
.btn{
    width: 50px;
    height: 30px;
    border: none;
}
.btn:hover{
    background-color: grey;
    color: white;
}
.main-grup{
    position: absolute;
    height: 100%;
    width: 100%;
}
.main-grup-wrp{
    position: relative;
    width: 100%;
    height: 100%;
}
#left-itm{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
}
#right-itm{
    position: absolute;
    left: 50px;
    right: 0;
    height: 100%;
    background-color: green;
    transition-duration: 0.2s;
}
#itm-bar{
    height: 50px;
    width: 50px;
}