/* CSS Document */
.dark-mode{
	height: 100px;
}
.btn-check-theme,.btn-check-experiment{
	margin: 10px;
	cursor: pointer;
}
label{
	color: white;
	cursor: pointer;
}
#reset{
	text-decoration: none;
	font-size: 20px;
	padding: 5px;
	background: red;
	border: none;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 10px;
}
