/* CSS Document */

.dark-mode{
	height: 100px;
}

.container{
	position: relative;
	display: inline-block;
	height: 34px;
	width: 60px;
}

.container input{
	position: absolute;
	opacity: 0;
	height: 0px;
	width: 0px;
}

.slider{
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: black;
	transition: 0.3s;
}

.slider::before{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	top: 4px;
	left: 4px;
	background: white;
	transition: 0.3s;
}

.checkTheme:checked + .slider{
	background: green;
}

.checkTheme:checked + .slider::before{
	transform: translateX(26px);
}

#fontColorTheme{
	margin-top: 5px;
}

#reset{
	text-decoration: none;
	font-size: 20px;
	padding: 5px;
	background: red;
	border: none;
	cursor: pointer;
}

#reset:hover{
	background: darkred;
}
