*{
    margin: 0;
    padding: 0;
}
.nav-bar-top{
    height: 60px;
}
.shade-cvr{
    position: absolute;
    background-color: black;
}
::-webkit-scrollbar {
    width: 5;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2.5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }