/*CSS Document*/
* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

.info-board-head {
  background-color: #424242;
  color: white;
  width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.info-board {
  background-color: #555;
  color: white;
  width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.black-line {
  position: inherit;
  width: auto;
  margin: 15px;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 14;
  line-height: 20px;
}

body {
  background-color: rgb(42, 42, 42);
  min-width: 100%;
  min-height: 100%;
}

.dark {
  background: rgb(20, 20, 20);
}

.light {
  background: white;
}

.master-wrppr {
  position: absolute;
  width: 100%;
  display: none;
}

.master-cntr-wrppr{
  margin-top: 60px;
  padding: 0px 300px;
}

.hori-cont-flex {
  display: flex;
  margin: 0px 15px;
}

.vert-cont-flex{
  margin: 0px 15px;
}

.light legend {
  color: black;
}

.light label {
  color: black;
}

.light p {
  color: black;
}

.top-logo {
  text-align: center;
  width: 100%;
}

#mobile-logo {
  display: none;
}

fieldset {
  width: calc(400px - 46px);
  height: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 3px solid grey;
  border-radius: 0 50px;
}

legend {
  color: white;
  font-size: 20px;
  padding: 0px 5px;
}

.link-to-about {
  color: white;
  padding: 5px;
  background-color: black;
}

#iframe-nav-system {
  position: fixed;
  width: 100%;
  height: 60px;
}
@media (max-width: 1200px) {
  .master-cntr-wrppr{
    padding: 0px 150px;
  }
  .info-board-head {
    width: auto;
  }
  .info-board {
    width: auto;
  }
}

@media (max-width: 900px) {
  .master-cntr-wrppr{
    padding: 0px 0px;
  }
}

@media (max-width: 850px) {
  .hori-cont-flex {
    flex-direction: column;
    padding: 0px 150px;
  }
}

@media (max-width: 650px) {
  .hori-cont-flex{
    padding: 0px;
  }
  fieldset {
    width: calc(100% - 46px);
  }
}
::-webkit-scrollbar {
  width: 5;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}