/* CSS Document */

.picture{
	width: auto;
	text-align: center;
}

.m-picture{
	display: none;
}

@media only screen and (max-width:720px){
	.picture{
		display: none;
	}
	.m-picture{
		display: block;
		text-align: center;
	}
	.notice{
		margin: 0px;
		width: auto;
	}
}
