/* CSS Document */

.main-wrppr {
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px 300px;
}

.left-flx-wrppr {
    position: relative;
    flex: 65%;
    margin: 100px 10px 10px 10px;
}

.right-flx-wrppr {
    position: relative;
    flex: 35%;
    margin: 100px 10px 10px 10px;
    transition-duration: 0.3s;
}

.plyr-box {
    position: absolute;
    width: 100%;
    background-color: black;
    border-radius: 25px;
}

.vid-plyr {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.iframe-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
}

.plyr-desc {
    position: absolute;
    width: 100%;
    height: 33.75%;
    margin-top: 56.25%;
    border-radius: 0px 0px 15px 15px;
}

.tags-list {
    display: inline-block;
    color: white;
    padding: 5px;
}

#itm-tag {
    color: white;
    font-size: 15px;
    margin-right: 5px;
}

#plyr-title {
    color: white;
    font-size: 24px;
    margin: 15px 15px 0px 15px;
}

.light #plyr-title {
    color: white;
}

#plyr-feat {
    text-decoration: none;
}

.light #plyr-feat {
    color: white;
}

.plylst {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: 147%;
}

#togglePlylst{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.toggleBtn{
    font-size: 20px;
    width: 100%;
    height: 40px;
}

@media (max-width: 1500px) {
    .main-wrppr {
        padding: 0px 200px;
    }
}
@media (max-width: 1300px) {
    .main-wrppr {
        padding: 0px 100px;
    }
}
@media (max-width: 1100px) {
    .main-wrppr {
        padding: 0px 0px;
    }
}
@media (max-width: 700px) {
    .main-wrppr{
        flex-direction: column;
    }
    .main-wrppr{
        flex: none
    }
    .left-flx-wrppr{
        margin: 60px 0px 0px 0px;
    }
    .right-flx-wrppr{
        position: fixed;
        width: 100%;
        height: 100%;
        right: calc(-1 * 100%);
        margin: 60px 0px 0px 0px;
    }
    #togglePlylst{
        display: block;
    }
    .plylst{
        position: absolute;
        padding: 0;
        height: 87%;
    }
}
