*{
    padding: 0;
    margin: 0;
}
.playlist-sorter{
    background-color: grey;
    padding: 5px;
}
button{
    left: 0px;
	right: 0px;
	width: 100%;
	height: 80px;
	cursor: pointer;
	transition-duration: 0.3s;
}
button:hover{
    background-color: grey;
}
.playlist-item-title{
	font-size: 18px;
    padding: 5px;
	text-overflow: clip;
}
.content-detail{
    display: inline-block;
    font-size: 14px;
	padding: 0px 5px;
	border: 2px solid black;
    border-radius: 25px;
}
.content-duration{
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 14px;
	padding: 0px 5px;
	border: 2px solid black;
    border-radius: 25px;
}
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}