/* CSS Document */
.main-middle-bar{
    position: relative;
    width: 100%;
    padding-top: 50%;
}
.wrapper{
    position: absolute;
    display: flex;
    top: 20px;
    left: 50px;
    right: 50px;
    bottom: 0px;
    margin: auto;
}
.left-flex-wrapper{
    position: relative;
    flex: 70%;
}
.right-flex-wrapper{
    position: relative;
    flex: 30%;
}
.player-box{
    position: absolute;
    width: 100%;
    height: 76.25%;
    border-radius: 25px;
    background-color: black;
}
.player-details{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 78%;
    border-radius: 25px;
    background-color: rgb(63, 63, 63);
}
.player-tags{
    display: inline-block;
    color: white;
    margin: 5px 0px 0px 15px;
}
.playlist-switching-bar{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 78%;
    background-color: grey;
}
p{
    float: left;
    margin-right: 5px;
}
#video-tag{
    color: rgb(182, 182, 182);
}
#player-title{
    color: white;
    font-size: 24px;
    margin: 5px 15px 0px 15px;
}
.playlist{
    position: absolute;
    left: 30px;
    right: 30px;
    height: 75%;
}
iframe{
    border-radius: 25px;
    border-color: black;
}
.playlist-switcher{
    position: absolute;
    left: 30px;
    right: 30px;
    height: 50%;
    background-color: white;
}